{% extends 'homeheader.html'%}
{% block content %}

<section class="w3l-contacts-12" id="contact">
    <div class="contact-top pt-5">
       
        <div class="container py-md-3">
            
            <div class="row cont-main-top">
                <div class="contacts12-main col-lg-8 mt-lg-0 mt-5">
                    <center><label>Recommended Videos</label></center>
                    <div >
                       
                    </div>
                   
                <br>
                <br>
               

               
            </form>
            <hr>
            <form action="/detectframes" method="post" class="main-input">
                <!-- <div class="top-inputs d-grid"> -->
        
                
                    <center><label>Recemmended Audios:</label></center>
                    <div >
                       
                    </div>
                  
                <br>
                <br>        
                    
                </div>
</section>

{% endblock %}