{% extends 'homeheader.html'%}
{% block content %}

<section class="w3l-contacts-12" id="contact" >
    <div class="contact-top pt-5">
            
           
        
            <!-- <center><h3>Detected Images</h3></center>
            
            <center><img src="static/uploadeddetected/{{k}}"></center> -->
            
            
                    

                    <hr class="half-rule"/> 

                    <div class="container">
                        <h3>Searching for {{ search_type }} with the name of:
                            <em>{{ name }}</em>
                        </h3>

                        {% if search_type == "track" %}
                        {% include 'partials/search_track.html' %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

  {% endblock %}